 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --color-background: #fff;
  --color-primary: #fff;
  --color-mute: #fff;
}

html body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin:auto;

  background-color: var(--color-background);

  font-family: 'Inter', sans-serif;
  font-size: 3rem;
}

#greet {
  margin: auto auto 1rem auto;
  color: var(--color-primary);
}

#search, #search:active #search:focus{
  text-align: center;
  margin: 0 auto auto auto;
  height: 5vw;
  width: 80vw;
  
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  font-size: 3rem;

  border: none;
  outline: 0;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(0, 0, 0, .25);
  padding: 0 .5rem;
  border-radius: .5rem;
}